In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Importação do Drive para acessar o arquivo .CSV
from google.colab import drive
drive.mount('/content/drive')
path = ("/content/drive/MyDrive/Bases de dados/funcionarios_empresa.csv")

Mounted at /content/drive

In [4]:
#Criação e Print do DataSet(5 primeiro itens)
df_funcionarios = pd.read_csv(path)
print(df_funcionarios.head())

   ID_Funcionario                Nome  Idade Departamento  \
0               1  Tatiane Mendes 001     40       Vendas
1               2       Ana Silva 002     23    Marketing
2               3    Rafael Alves 003     36           TI
3               4     Carla Souza 004     32    Operações
4               5     Pedro Costa 005     33   Financeiro

                      Cargo  Salario  Tempo_Empresa_Meses Data_Admissao  \
0               Vendedor Jr  3685.36                    4    2025-05-18
1  Coordenador de Marketing  8081.03                    1    2025-08-16
2       Desenvolvedor Pleno  8491.98                    2    2025-07-17
3      Gerente de Operações  9745.30                    9    2024-12-19
4    Analista Financeiro Jr  3556.68                   63    2020-07-13

      Nivel_Educacao Estado_Civil Tipo_Contrato  Avaliacao_Performance  \
0  Superior Completo    Casado(a)           CLT                    4.8
1  Superior Completo  Solteiro(a)           CLT                    2.4
2      Pós-graduação  Solteiro(a)           CLT                    2.7
3       Ensino Médio    Casado(a)           CLT                    3.4
4      Pós-graduação  Solteiro(a)           CLT                    3.9

   Horas_Extras_Mes  Beneficios  Faltas_Ultimo_Ano  Satisfacao_Trabalho
0                 5      953.49                  1                  5.6
1                 7      964.51                  2                  5.2
2                 7      483.34                  4                  5.7
3                12      980.71                  1                  7.0
4                10     1031.64                  1                  6.5

In [6]:
# Informações gerais do DataSet
df_funcionarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_Funcionario         500 non-null    int64
 1   Nome                   500 non-null    object
 2   Idade                  500 non-null    int64
 3   Departamento           500 non-null    object
 4   Cargo                  500 non-null    object
 5   Salario                500 non-null    float64
 6   Tempo_Empresa_Meses    500 non-null    int64
 7   Data_Admissao          500 non-null    object
 8   Nivel_Educacao         495 non-null    object
 9   Estado_Civil           500 non-null    object
 10  Tipo_Contrato          500 non-null    object
 11  Avaliacao_Performance  475 non-null    float64
 12  Horas_Extras_Mes       500 non-null    int64
 13  Beneficios             490 non-null    float64
 14  Faltas_Ultimo_Ano      500 non-null    int64
 15  Satisfacao_Trabalho    485 non-null    float64
dtypes: float64(4), int64(5), object(7)
memory usage: 62.6+ KB

In [8]:
# Dimensões do DataSet
print(f"Linhas: {df_funcionarios.shape[0]}") # Linhas
print(f"Colunas:{df_funcionarios.shape[1]}") # Colunas

Linhas: 500
Colunas:16

In [ ]:
#Valores estatisticos do Arquivo (Numericos)
print(df_funcionarios.describe())

In [9]:
#Quantidade de valores nulos nas colunas(String)
print(df_funcionarios.describe(include='object'))

                      Nome Departamento                     Cargo  \
count                  500          500                       500
unique                 500            7                        31
top     Tatiane Mendes 500       Vendas  Coordenador de Marketing
freq                     1          111                        26

       Data_Admissao     Nivel_Educacao Estado_Civil Tipo_Contrato
count            500                495          500           500
unique            86                  7            4             4
top       2025-08-16  Superior Completo    Casado(a)           CLT
freq              47                179          210           347

In [ ]:
print(df_funcionarios.duplicated().sum())

In [14]:
if 'Preço' in df_funcionarios.columns:
    preco = df_funcionarios['Preço'].dropna()
    print(preco.describe())
else:
    print("Coluna não encontrada no dataset")

Coluna não encontrada no dataset

In [17]:
if 'Salario' in df_funcionarios.columns:
    salario = df_funcionarios['Salario'].dropna()

    Q1 = salario.quantile(0.25)
    Q2 = salario.quantile(0.50)
    Q3 = salario.quantile(0.75)
    IQR = Q3 - Q1
    limite_inferior = Q1 - 1.5 * IQR
    limite_superior = Q3 + 1.5 * IQR

    outliers = salario[(salario < limite_inferior) | (salario > limite_superior)]

    print(outliers)
else:
    print("Coluna não encontrada no dataset")

8      34134.45
53     19770.45
163    18264.59
327    37988.03
345    18551.99
Name: Salario, dtype: float64